{% extends 'base.html' %}

{% block content %}
  <div class="strip">
    <div class="row">
      <div class="col-12">
        <h1>Start or update a demo</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <form action="{% url 'demo_start' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br />
            <input class="p-button--positive" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
