{% extends 'base.html' %}

{% block content %}
  <div class="strip">
    <div class="row">
      <div class="col-12">
        <h1>Running demos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if demos %}
        <table class="p-table" role="grid">
            <thead>
              <tr role="row">
                <th scope="col" role="columnheader" id="t-url" aria-sort="none">Name</th>
                <th scope="col" role="columnheader" id="t-github" aria-sort="none">GitHub</th>
                <th scope="col" role="columnheader" id="t-github" aria-sort="none">Options</th>
              </tr>
            </thead>
            <tbody>
              <ul>
                {% for demo in demos %}
                  <tr role="row">
                    <td role="gridcell">
                      <a href="{{ demo.url_full }}">{{ demo.url }}</a>
                    </td>
                    <td role="gridcell">
                      <a href="{{ demo.github_url }}" class="p-link--external">GitHub</a>
                    </td>
                    <td role="gridcell">
                      <a href="{% url 'demo_start'%}?url={{ demo.github_url }}">Update</a>
                      <span> | </span>
                      <a href="{% url 'demo_stop' %}?url={{ demo.github_url }}">Stop</a>
                    </td>
                  </tr>
                {% endfor %}
              </ul>
            </tbody>
          </table>
        {% else %}
          No currently running demos found.
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
