export DJANGO_DEBUG=True
export SECRET_KEY=
export GITHUB_TOKEN=
export GITHUB_WEBHOOK_SECRET=
export LOGSTASH_HOST=
export LOGSTASH_PORT=5000
export POSTGRES_HOST=
export POSTGRES_PORT=5432
export POSTGRES_USER=
export POSTGRES_PASS=
export LOG_LEVEL=INFO
export RABBITMQ_HOST=rabbitmq
export RABBITMQ_PORT=5672

export DEMO_OPT_ASSET_SERVER_HOST=
export DEMO_OPT_DATABASE_HOST=
export DEMO_OPT_SECRET_KEY=
