amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.5
django-openid-auth==0.15
docker==4.0.2
docker-pycreds==0.4.0
github3.py==1.3.0
gunicorn==19.9.0
idna==2.8
kombu==4.6.4
launchpadlib==1.10.7
psycopg2==2.8.3
python-logstash==0.4.6
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.25.6
vine==1.3.0
websocket-client==0.56.0
